<%- include("partials/header") -%>

<% postArray.forEach( function(i){ %>
    <div>
        <h3><%= i.noteTitle%></h3>
        <p> <% if (i.noteBody.length > 100) { %>
                <%= i.noteBody.substring(0,100) %> ...
            <% } else { %>
                <%= i.noteBody %>
            <% } %>
            <a href="/posts/<%=i.noteTitle%>">Read More...</a>
        </p>
        </form>
        <form action="/delete" method="post">
            <button class="btn btn-primary" type="submit" name="button" value="<%=i._id%>">Delete</button>
        </form>
    </div>
<% }); %>

<%- include("partials/footer") -%>